<mat-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div *ngIf="!isAuthenticated" class="mx-24">
            This page is forbidden, please login to the application.
        </div>

        <div
            *ngIf="isAuthenticated"
            fxFlex="1 0 auto"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <div class="ml-24 mr-8" (click)="toHome()">
                Application title
            </div>

            <button
                mat-button
                [matMenuTriggerFor]="transactionMenu"
                class="user-button mx-8"
            >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="username mr-12" fxHide fxShow.gt-xs
                        >Transaction</span
                    >
                    <mat-icon class="s-16" fxHide.xs
                        >keyboard_arrow_down</mat-icon
                    >
                </div>
            </button>

            <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item [routerLink]="'/transaction1'">
                    <mat-icon>label</mat-icon>
                    <span>Transaction 1</span>
                </button>

                <button mat-menu-item [routerLink]="'/transaction2'">
                    <mat-icon>label</mat-icon>
                    <span>Transaction 2</span>
                </button>
            </mat-menu>

            <button
                mat-button
                [matMenuTriggerFor]="reportMenu"
                class="user-button mx-8"
            >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="username mr-12" fxHide fxShow.gt-xs
                        >Report</span
                    >
                    <mat-icon class="s-16" fxHide.xs
                        >keyboard_arrow_down</mat-icon
                    >
                </div>
            </button>

            <mat-menu #reportMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item [routerLink]="'/report1'">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Report 1</span>
                </button>

                <button mat-menu-item [routerLink]="'/report2'">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Report 1</span>
                </button>
            </mat-menu>

            <button
                mat-button
                [matMenuTriggerFor]="masterMenu"
                class="user-button mx-8"
            >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="username mr-12" fxHide fxShow.gt-xs
                        >Master</span
                    >
                    <mat-icon class="s-16" fxHide.xs
                        >keyboard_arrow_down</mat-icon
                    >
                </div>
            </button>

            <mat-menu #masterMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item [routerLink]="'/pages/master/department'">
                    <mat-icon>bookmark_border</mat-icon>
                    <span>Department</span>
                </button>
                <button mat-menu-item [routerLink]="'/pages/master/files'">
                    <mat-icon>bookmark_border</mat-icon>
                    <span>File Manager</span>
                </button>
            </mat-menu>
        </div>

        <div
            *ngIf="isAuthenticated"
            class=""
            fxFlex="0 1 auto"
            fxLayout="row"
            fxLayoutAlign="start center"
            class="pr-24"
        >
            <button
                mat-button
                [matMenuTriggerFor]="userMenu"
                class="user-button"
            >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <span class="username mr-12" fxHide fxShow.gt-xs>
                        Hello {{ currentUser }}
                    </span>
                    <mat-icon class="s-16" fxHide.xs
                        >keyboard_arrow_down</mat-icon
                    >
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
